/*html, body {background-color:#EFFBFB; margin:4px }*/
/*#nav_bar { background: url("../images/zebrafish2.jpg") 1% 40% no-repeat; }*/
#galleryLeftArrow, #galleryRightArrow {
	cursor:pointer;
}
 img { vertical-align: top}

 /*GROW*/
.grow img {
  /*
  width: 234px;
  height: 312px;
  */
  width:240;
  height:180;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 

.grow img:hover {
  /*
  width: 280px;
  height: 362px;
  */
  cursor:pointer;
}

.booDialog {

  z-index:99999999;
}
.booDialog div.ui-dialog-titlebar {
  /*background-color:#4B088A;*/
  background-color: #D8CEF6;
}

.booDialog span.ui-dialog-title {
  color : #4B088A;
}

button.ui-dialog-titlebar-close {
  border:0;
}

#boo_dialog {
  text-align:center;
  background-color:#E0ECF8;

}
/*GROW*/
.gallery img {
  /*
  width: 350px;
  height: 172px;
  */
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
 
.gallery img:hover {
  /*
  width: 475px;
  height: 292px;
  */
  cursor:pointer;
}




 .banner { background-color:#CEF6F5}
 .nav-bar {margin-top: 8px}
 .nav-content { padding-top:8px }
.inner { background-color: white }
.container-fluid { background-color: #EFFBFB;   }
.body {font-family:verdana; font-size:9pt; padding:12px  }
.main_table { background-color: #E6E0F8; /*background-color:#E6E0F8; */}
.title {font-size:9pt; font-family:verdana; margin-bottom:4px; font-weight:bold}
.subtitle { font-size:8pt; font-family:verdana; color:navy; padding-left:4px; font-weight:bold }
.img_title {font-size:10px; font-family:verdana; font-style:italic}
.contact_info {font-size:8pt; font-family:verdana; color:#0B2161; padding-left:4px; font-style:italic}
.cn {display:none}
.cn_default {display:block }
.link, .link_selected, .link_over { color:blue; font-size:9pt; font-family:"Trebuchet MS", Helvetica, sans-serif; margin:6 0 6 0; text-decoration:underline;}
.link_selected { font-weight:bold; text-decoration:none; cursor:default;}
.link_over { cursor:pointer; color:green }
.nav { margin-top:8pt; float:left; clear:right;}
/*.content {float:left; clear:right; margin-top:8pt; border: 1px solid silver;  font-family:verdana; font-size:9pt; width:80%; min-height:400px; overflow-y:auto}*/
.content {background-color:#EFFBFB; margin-top:8pt; font-family:verdana; font-size:9pt; min-height:400px; overflow-y:auto; padding:8px}
.clear {clear:both }
.inactive {color:#E6E6E6; font-size:9pt; font-style:italic; text-align:left;}
ul {
list-style-type:none;
border:0;
padding:0;
margin:0 0 0 4;
}

li {
margin: 8 0 8 0;

}

.research_interest {
font-size:8pt;
font-weight:bold;


}

.publication {
font-size:9pt; 
font-family:verdana; 
/*background: url("../images/dot.gif") 0 30% no-repeat; */
padding-left:14px;
margin: 12 0 12 0;
overflow: hidden;
color: #0B3B0B;
}

.pictext {
font-size:8pt;
font-family:verdana;
font-style:italic;
font-weight:bold;
color:navy;
}

.booDialog { font-size: 9pt; color:navy }

.booDialog .ui-widget-header {
  background: #D8CEF6;
  color: white;
  width:auto;
  white-space: nowrap;
}