 <div id="labMembersContainer" class="col-md-6 col-lg-6" >
           
      <p ng-repeat="item in labMembers | filter:'active'">
          <button type="button" class="btn btn-link" imgsrc="{{item.imgsrc}}" onclick="handleClick(this, 'labMembers')" itemid="{{item.id}}"><b>{{item.name}}</b> <i>{{item.title}}</i></button><!--<img src="./images/arrow.gif" id="labImageArrow:{{item.id}}" style="margin-top:10px; display:none" name="labImageArrow" itemid="{{item.id}}"/>-->

      </p>

      <br/>

      <p ng-repeat="item in labMembers | filter: 'dormant'" class="inactive">
         <b>{{item.name}}</b>,  {{item.title}} <br/><br/>
      </p>
    
 </div>
 <div class="col-md-6 col-lg-6">
      <img id="labImage" ng-src="{{defaultLabImage}}" class="img-thumbnail"/>
 </div>