<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   
   <head>
       <meta name="Description" content="Principle Investigator: Eleanor Chen, Institution: University of Washington, Department: Pathology, Category: Academia, Length: 1 page" />
       <meta name="robots" content="index,follow" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/eleanor2/">
       <title>Eleanor Chen Research Lab</title>
       <link rel="icon" type="image/jpg" href="./images/uw-thumb.jpg">
       <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" />
       <link rel="stylesheet" href="./css/boo.css" type="text/css" />
       <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
       <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="./bootstrap/js/bootstrap.min.js"></script>
       <script language="javascript" src="./include/angular.min.js"></script>
       <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>-->
       <script language="javascript" src="./include/angular-ui-router.js"></script>
       <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       <script language="JavaScript" src="./include/boo.js"></script>

   </head>
   
<body ng-app="mainApp" ng-controller="booController">
    <div class="full-width-bar">
        <div class="container-fluid main_table">
          <div class="row">
            <div id="m1" class="col-md-9 col-xs-6" >
              <table id="banner" width="100%">
                  <tr>
                      <td  width="4%" valign="top" class="banner_col1">
                          <img class="banner_img" src="./images/bobo2.jpg"/>
                      </td>
                      <td width="1%" class="banner_col2"><img src="./images/spacer.gif" width="1" height="2" /></td>
                      <td width="2%" valign="top" class="banner_col3"><img class="banner_img" src="./images/uw.jpg" /></td>
                      <td width="1%" class="banner_col4"><img src="./images/spacer.gif" width="1" height="2" /></td>
                      <td valign="top" align="left">
                          <div class="title" ng-bind="boo.title"></div>
                          <div class="subtitle" ng-bind="boo.institution"></div>
                          <div class="subtitle" ng-bind="boo.department"></div>
                          <div class="subtitle" ng-bind="boo.subtitle"></div>
                      </td>
                  </tr>
              </table>
            </div>
          
            <div id="m2" class="col-md-3 col-xs-6">
              <div class="contact_info" ng-repeat="item in boo.contactInfo" ng-bind="item.info">
                            
              </div>
              <div class="contact_info">email: <a href="mailto:eleanor2@uw.edu">eleanor2@uw.edu</a></div>

            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid" id="boo_menu">
      <ul class="nav nav-tabs" >
          <li ng-repeat="item in categories" role="presentation" class="menu {{item.className}}" onclick="setContentVis(this)" id="{{item.id}}" ><a ui-sref="{{item.href}}"  ng-bind="item.title" ></a></li>
      </ul>
    </div>
    <div class="container-fluid" >
        <div id="boo_content" class="nav-content panel panel-info content" ui-view></div>

    </div>
    <div id="boo_dialog"></div>
    
</body>
</html>

